<div class="text-secondary px-4 py-5 text-center mt-5" style="background-color:#000000">
    <div class="py-5">
        <img class="d-block mx-auto mb-2" src="/images/ImagenTienda.png" style="height:400px; width:500px; object-fit:contain; border: double #ffffff; border-width: 8px;" />
        <h1 class="display-5 fw-bold text-white">Welcome Dear Customer</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">We have the most comfortable and accurate shoes for your feet</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Enter</a>
            </div>
        </div>
    </div>
</div> 
